.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 20px 30px;
  background-color: rgb(189, 160, 0);
  color: black;
  border: rgb(0, 0, 0) 2px solid;
  border-radius: 5px;
  cursor: pointer;
}

.src1 {
  width: 300px;
  height: 300px;
}

.src2 {
  width: 300px;
  height: 300px;
}
